{% from 'products/includes/product_macros.html' import product_cards with context %}

{% if waffle.flag('responsive') %}
  {% extends 'base-responsive.html' %}
  {% set styles = ('home-responsive',) %}
{% else %}
  {% extends 'base.html' %}
  {% set styles = ('home',) %}
{% endif %}


{% block content %}
  {% if waffle.flag('responsive') %}
    {{ product_cards(products) }}
    <section id="get-involved">
      <a class="button coral large" href="{{ url('landings.get_involved') }}">
        {{ _('Volunteer for Mozilla Support') }}
      </a>
    </section>
  {% else %}
    <div class="grid_12">
      <section id="products-and-services">
        {{ product_cards(products) }}
      </section>
    </div>
    <section id="get-involved-box" class="grid_12">
      <a class="btn btn-submit" href="{{ url('landings.get_involved') }}">
        {{ _('Volunteer for Mozilla Support') }}
      </a>
    </section>
  {% endif %}
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}